<!DOCTYPE html>
<html>
<head>
	<title></title>
		<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="nav-brand" href="{% url 'index'%}">Home</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
    </li>
  </ul>

</nav>
	<div class="container">
		{% block body_block%}
	{% endblock %}
	</div>
</body>
</html>